<header class="navbar">
    <div class="logo">
        <span class="logo-text">ArtExhibition</span>
        <span class="logo-accent">•</span>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="/home" class="active">Home</a></li>
            <li><a routerLink="/artworks" class="active">ArtWorks</a></li>

            <!-- <li><a>Gallery</a></li>
            <li><a  >Products</a></li>
            <li><a >Profile</a></li> -->
            <li ><a routerLink="/login" class="btn-outline">Login</a></li>
            <li><a routerLink="/register" class="btn-fill">Register</a></li>
        </ul>
    </nav>
    <div class="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>